#results_image {
    
    width: 80%;
    height: auto;
        
    margin-top: 4em;
}

#results_content
{
    text-align: center;
}


#play_again_button {
    
    margin-top: 30px;
    margin-bottom: 10px;
    
}